<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Details</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #9d0f0f;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f225;
    }
  </style>
</head>
<body>
  <h1>Customer Details</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      {{#each customerData}}
        <tr>
          <td>{{Name}}</td>
          <td>{{City}}</td>
          <td>{{Country}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>
