<html>
<head>
     <style>
        body{
            text-align: center;
            background-color: #3498db;
        }
        div{
            width: 300px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 4px 8px #27c4d8;
            
        }
         h3{
            color: purple;
            text-align: center;
            font-size: 45px;
            background-color: plum;
         }
         a{
            display: inline-block;
            padding: 10px 20px;
            background-color: rgb(49, 49, 138);
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
            margin-bottom: 10px;
            font-size: 20px;

         }
     </style>   
</head>

<body>
    <h3>PRODUCT DETAILS</h3>
    

    <a href="/prd/AllDepts">Product Details</a><br/>

    <a href="/prd/GetPrdByElc?Electronics=Electronics">Electronics Products</a><br/>
    <a href="/prd/GetPrdByClth?Clothing=Clothing">Clothing Items</a>

    
</body>

</html>